* {
    margin: 0;
    padding: 0;
}

body, html{
    background-color: #ff99d8;
    height: 100%;
}

.row {
    display: flex; /* Display Flex allows the child elements to display in a row*/
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    position: relative;
}

.left-column, .right-column {
    /*float: left; Float is not necessary when dealing with Flex. Redundant */
    width:25%; /*declaring the width in conjunction with Flex, 
    allows for child elements (columns) to be displayed in a row, with the appropirate sizing*/
    display: flex;
    position: relative;
    
}

.puzzle, .puzzles {
    opacity: 0.65;
    position: fixed;  
    width: 25%;
    
}
#top-left-puzzle {
    top:0;
    left:0;

}
#bottom-left-puzzle {
    bottom:0;
    left:0;

}
#top-right-puzzle {
    top:0;
    right:0;
    transform:rotate(180deg);
}
#bottom-right-puzzle {
    bottom:0;
    right:0;
    transform: scaleX(-1);
}

.middle-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 50%;
    
}
#welcome-scene {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#welcome-logo {
    width:100%;
    display: flex;
    
        
}
#start-button {
    height: 3rem;
    width: 45%;
    background-image: url('./assets/button.png');
    background-size: cover;
    background-position:  center;
    border-color: white;
    border-radius: 25px;
    border-width: 1fr;
    cursor: pointer;
}
/* Flexbox for game layout */
#game-scene {
    height: 100vh;
    width: 100vh;

}
#game-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
    height: 100%;

    
}
#title{
    background-image: url('./assets/WordMix_Logo.png');
    background-size: cover;
    background-position: center;
    width: 300px;
    z-index: 1;
    position: relative;
    top: 1.25rem;
}
/* Grid for game board */
#grid-container {
    display: grid;
    position: relative;
    top: 0.25rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border: 10px solid whitesmoke;
    border-radius: 15px;
    width: 50%;
    height: 70%;
    padding: 1rem; 
    gap: 1rem;
}

/* Styling for the squares */
.grid-square {
    background-color: black;
    border: 3px solid white;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Styling for the keyboard */
#keyboard-container {
    height: 30%;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 2rem;
    
    
    
}
.keyboard-row {
    display:flex;
    margin: 0 auto 8px;
    touch-action: manipulation;

}
.keyboard-row button {
    background-color: #090307;
    border-radius: 1rem;
    color: white;
    margin: 0 0.2rem;
    padding: 1rem;
    cursor: pointer;
    touch-action: manipulation;
    height: 3rem;
    
}
.keyboard-row button:active {
    background-color: #0000007d;
    color: rgb(255, 255, 255);
    border-color: #ffffff;
}